* {
box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(235, 235, 235);
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(50, 82, 129);
    color: white;
}

header nav ul li {
    display:inline-block;
    margin-left: 25px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

img {
    width: 200px;
    height: 200px;
}
    
p {
    margin: 25px;
    color: rgb(0, 0, 0);
}

.contentheading {
    color: rgb(0, 0, 0);
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#about-me {
    padding: 5px;
    margin-bottom: 20px;
}

#work {
    padding: 5px;
    margin-bottom: 20px;
}

#contact-me {
    padding: 5px;
    margin-bottom: 20px;
}

.contact {
    color: rgb(0, 0, 0);
}

.displaynav {
    justify-content: end;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.displayheader {
    justify-content: end;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

.backgroundimage {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./coverphoto.jpg);
    background-size: cover;
    background-position: center;
}

.content {
    display: inline-block;
    margin-left: 20px;
}

.contentwork {
    display: flex;
    display: block;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.aboutmesection {
    margin: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #bdc9fb;
    color: #ffffff;
}

.resumesection {
    margin: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #bdc9fb;
    color: #ffffff;
}

.worksection {
    margin: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #bdc9fb;
    color: #ffffff;
    height: 300px;
}

.contactsection {
    margin: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #bdc9fb;
    color: #ffffff;
}

ul {
    list-style-type: none
}
